body {
    background-color: lightblue;
}

body h1 {
    color: blue;
    text-align: center;
    padding: 20px;
}

p {
    color: dimgray;
    font-size: 18px;
}

a {
    color: green;
    text-decoration: none;
}

.destaque {
    background-color: yellow;
    font-weight: bold;
}

#topo {
    background-color: darkblue;
}

#topo h1 {
    color: white;
}

.caixa {
    background-color: white;
    border: 6px solid gray;
    padding: 15px;
    margin: 0px;
}